html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-login {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-login:hover {
    background-color: #fd5214;
}




/* COLORES */

.coral {
    color: #FF7F50;
}

.blue {
    color: #004E92;
}

.light-blue {
    color: #A7D8F0;
}

.cyan {
    color: #40E0D0;
}

.sand {
    color: #F5DEB3;
}

.bg-coral {
    background-color: #FF7F50;
}

.bg-blue {
    background-color: #004E92;
}

.bg-light-blue {
    background-color: #A7D8F0;
}

.bg-cyan {
    background-color: #40E0D0;
}

.bg-sand {
    background-color: #F5DEB3;
}

.border-coral {
    border-color: #FF7F50;
}

.border-blue {
    border-color: #004E92;
}

.border-light-blue {
    border-color: #A7D8F0;
}

.border-cyan {
    border-color: #40E0D0;
}

.border-sand {
    border-color: #F5DEB3;
}